.posts-list {
  width: 100%;

  .top {
    display: flex;
    margin: 20px auto;
    width: 100%;
    justify-content: center;

    .primary-btn.create {
      margin: 0 10px;
      display: flex;
      align-items: center;

      i{
        margin-right: 10px;
      }
    }
  }
}