.app-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;


  .title {
    max-width: 50%;

    .main-title {
      margin: 10px 0;
      cursor: pointer;

      &:hover {
        color: hsl(190, 70%, 70%);
      }
    }

    .sub-title {
      margin: 5px 0;
    }
  }

  .log-in {
    position: relative;
    bottom: 10px;

    .user{
      text-align: right;

      .link {
        cursor: pointer;
    
        &:hover {
          color: orange;
        }
      }
    }
  }

  
}